<span class="clipboard-copy" data-clipboard-text="{{ code.identifier }}">
  {{ code.identifier }}
  <a class="btn btn-link btn-xs"
     {# http://getbootstrap.com/javascript/#dismiss-on-next-click #}
     tabindex="0" role="button"
     data-trigger="focus"
     data-toggle="popover"
     data-content="{{ 'Code copied to clipboard'|trans }}"><span class="fa fa-clipboard"></span></a>
</span>
