{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<span class="code-code">
    {{ include('admin/code/_clipboard_copy_code.html.twig', {code: entity.instance}) }}
    {{ include('admin/code/_generate_email.html.twig', {code: entity.instance}) }}
    {{ include('admin/code/_generate_sms.html.twig', {code: entity.instance}) }}
</span>
