.navbar {
    box-shadow: 0 0 16px rgba(0,0,0,.16);
    .nav {
        width: 100%;
        &-item {
            width: 33.333%;
            text-align: center;
            span {
                display: block;
                font-size: .5rem;
            }
        }
    }
}
