.navbar {
    .nav {
        width: 100%;
        &-item {
            width: 33.333%;
            text-align: center;
            span {
                display: block;
                font-size: .5rem;
            }
        }
    }
}
