<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ app_name }}</title>
        <style>
            body {
                background: #003764;
                margin: 0;
                padding: 0;
                color: #FFF;
                font-family: Roboto, sans-serif;
                text-align: center;
            }
            .lock {
                width: 30%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 60%;
                margin-bottom: 1em;
                animation: pulse 2.4s infinite;
            }
            .logo {
                width: 25%;
            }
            .text {
                margin-top: 10em;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                font-size: .9em;
                font-weight: 300;
            }
            @-webkit-keyframes pulse {
                from {
                    transform: scale3d(1, 1, 1);
                }
                50% {
                    transform: scale3d(1.15, 1.15, 1.15);
                }
                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        </style>
    </head>
    <body>
        <div class="lock">
            <svg aria-hidden="true" data-prefix="fas" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></path>
            </svg>
        </div>
        <img src="../../../../web/images/logo.png" class="logo" alt="Dokk1 logo">
        <p class="text">{{ 'Please wait while we load the app'|trans }}</p>
    </body>
</html>
