// @see https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md#class-names
.twitter-typeahead {
	width: 100%;
  margin-top: 1em;

	.tt-input, .tt-hint, .tt-menu {
		width: 100%;
	}

	.tt-menu {
		background: #fff;
		border: solid 2px #aaa;
	}

	.tt-suggestion {
		padding: 0 12px;
	}

	.tt-cursor {
		background: #eee;
	}
}
