easy_admin:
    site_name: '%site_name%'

    design:
      form_theme:
        # - '@EasyAdmin/form/bootstrap_4.html.twig'
        - 'admin/form/form.html.twig'
        - '@ItkDevConfig/easy_admin/form/setting.html.twig'

      brand_color: '#003764'
      assets:
        css:
          - 'build/easy_admin.css'
      templates:
        list: 'admin/list.html.twig'
        layout: 'admin/layout.html.twig'
        label_null: 'admin/null_value.html.twig'

      menu:
        - entity: Code
          icon: id-card
        - entity: Guest
          icon: id-card
          roles: [ROLE_GUEST_ADMIN]
        - entity: User
          icon: user
          roles: [ROLE_USER_ADMIN]
        - entity: Template
          roles: [ROLE_TEMPLATE_ADMIN]
        - entity: Setting
          label: Settings
          roles: [ROLE_CONFIG_ADMIN]

    formats:
      datetime: '%format_datetime%'

    entities:
      Code:
        controller: App\Controller\CodeController
        class: App\Entity\Code
        templates:
            list: 'admin/Code/list.html.twig'
            new: 'admin/Code/new.html.twig'
        disabled_actions: [show, edit]
        list:
          actions: [-show]
          fields:
            - property: identifier
              label: Code
              template: admin/Code/code.html.twig
            - property: status
              sortable: true
              template: admin/Code/status.html.twig
            - property: startTime
              label: Time range
              template: admin/Code/date_time_range.html.twig
            - property: template
            - property: note
              sortable: false
              template: admin/Code/note.html.twig
            - property: createdAt
              template: admin/datetime.html.twig
            - property: createdBy
              roles: [ROLE_ADMIN]
        show:
          fields:
            - property: startTime
            - property: endTime
            - property: template
            - property: identifier

        form:
          fields:
            - property: startTime
              label: Date
              type_options:
                view_timezone: "%view_timezone%"
                required: true
                widget: single_text
                html5: false
            - property: endTime
              label: Period
              type_options:
                view_timezone: "%view_timezone%"
                required: true
                widget: single_text
                html5: false
            - property: template
            - property: note
              help: code.note.help

      Guest:
        controller: App\Controller\GuestController
        roles: [ROLE_GUEST_ADMIN]
        class: App\Entity\Guest
        disabled_actions: [show, delete]
        list:
          dql_filter: 'entity.expiredAt is null'

          actions: [showApp, expireApp]
          fields:
            - property: name
            - property: company
            - property: enabled
              type: boolean
            - property: phone
            - property: email
            - property: templates
              template: admin/templates.html.twig
            - property: startTime
              type: date
              label: Start date
            - property: endTime
              type: date
              label: End date
            - property: createdAt
              template: admin/datetime.html.twig
            - property: activatedAt
              template: admin/Guest/activated_at.html.twig
            - property: createdBy
              roles: [ROLE_ADMIN]

        new:
          fields:
            - property: name
            - property: company
            - property: phone
            - property: email
              type: email
            - property: templates
              type_options:
                expanded: true
                required: true
            - property: startTime
              label: Start date
              type: date
            - property: endTime
              label: End date
              type: date
            - property: timeRanges
              type: App\Form\TimeRangesType
              label: 'Access times'

        edit:
          fields:
            - property: enabled
            - property: name
            - property: company
            - property: phone
            - property: email
              type: email
            - property: templates
              type_options:
                expanded: true
                required: true
            - property: startTime
              label: Start date
              type: date
            - property: endTime
              label: End date
              type: date
            - property: timeRanges
              type: App\Form\TimeRangesType
              label: 'Access times'

      User:
        controller: App\Controller\UserController
        roles: [ROLE_USER_ADMIN]
        class: App\Entity\User
        disabled_actions: [show, delete]
        list:
          fields:
            - property: email
            - property: enabled
              type: boolean
            - property: aeosId
            - property: roles
              template: admin/User/roles.html.twig
              sortable: false
            - property: templates
              template: admin/templates.html.twig
            - property: lastLoginAt
              template: admin/datetime.html.twig
            - property: createdAt
              template: admin/datetime.html.twig
            - property: createdBy
            - property: updatedAt
              template: admin/datetime.html.twig
            - property: updatedBy
        new:
          fields:
            - property: email
              type: email
            - property: roles
              type: choice
              type_options:
                multiple: true
                expanded: true
                choices: &role_list
                  ROLE_USER: ROLE_USER
                  ROLE_GUEST_ADMIN: ROLE_GUEST_ADMIN
                  ROLE_ADMIN: ROLE_ADMIN
                  ROLE_CONFIG_ADMIN: ROLE_CONFIG_ADMIN
            - property: templates
              type_options:
                expanded: true
                required: true
            - property: aeosId
        edit:
          fields:
            - property: enabled
            - property: email
              type: email
            - property: roles
              type: choice
              type_options:
                multiple: true
                expanded: true
                choices:
                  <<: *role_list
            - property: templates
              type_options:
                expanded: true
                required: true
            - property: aeosId

      Template:
        roles: [ROLE_TEMPLATE_ADMIN]
        class: App\Entity\Template
        disabled_actions: [show, delete]
        list:
          fields:
            - property: name
            - property: level
            - property: enabled
              type: boolean
            - property: aeosId
            - property: createdAt
              template: admin/datetime.html.twig
            - property: createdBy
            - property: updatedAt
              template: admin/datetime.html.twig
            - property: updatedBy
        form:
          fields:
            - property: enabled
            - property: name
            - property: level
            - property: description
            - property: aeosId
              type_options:
                required: false

      Setting:
        roles: [ROLE_CONFIG_ADMIN]
        controller: ItkDev\ConfigBundle\Controller\SettingController
        class: ItkDev\ConfigBundle\Entity\Setting
        disabled_actions: [new, delete]
        list:
          title: Settings
          fields:
            - property: name
              template: admin/translate.html.twig
            - property: value
              label: Value
              template: '@ItkDevConfig/easy_admin/Setting/display_value.html.twig'

        edit:
          fields:
            - property: name
              type_options:
                disabled: true
            - property: value
              type_options:
                required: false
            - property: description
              type_options:
                disabled: true
                # attr:
                #     raw: true
