<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="dokk1gh">
    <description>PHP CodeSniffer configuration for Dokk1 Gæstehåndtering</description>

    <file>src/</file>

    <exclude-pattern>app/App(Cache|Kernel)\.php</exclude-pattern>
    <exclude-pattern>app/DoctrineMigrations/</exclude-pattern>

    <!-- Show progress -->
    <arg value="p"/>

    <rule ref="vendor/squizlabs/php_codesniffer/src/Standards/PSR2">
        <!-- phpcs and php-cs-fixer does not agree on line lengths -->
        <exclude name="Generic.Files.LineLength.TooLong"/>
    </rule>
</ruleset>
