{% for template in value %}
	<a href="{{ path('easyadmin', {entity: 'Template', action: 'edit', id: template.id}) }}">{{ template.name }}</a>{% if not loop.last %},{% endif %}
{% else %}
	–
{% endfor %}
