<div class="code-created">
  {{ 'New code created'|trans }}:
  {% include 'easy_admin/Code/_clipboard_copy_code.html.twig' %}
  {% include 'easy_admin/Code/_generate_email.html.twig' %}
  {% include 'easy_admin/Code/_generate_sms.html.twig' %}
</div>
