# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: dokk1gh
    database_user: root
    database_password: vagrant
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    # Use port 1025 for HailHog
    mailer_port: ~
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    mailer_name: GH
    mailer_email: gh@dokk1.gh.vm

    aoes_location: https://127.0.0.1/aeosws
    aoes_username: user
    aoes_password: pass

    site_name: Gæstehåndtering
    site_url: http://dokk1gh.vm
    router.request_context.host: dokk1gh.vm

    header_image_url: /images/logo.png

    locale: da
    format_datetime: 'd/m/Y H:i'

    api_title: Gæstehåndtering – API
    api_description: The API

    user_created_user_subject: '{{ site_name }} – brugeroprettelse'
    user_created_user_header: 'Bruger oprettet på {{ site_name }}'
    user_created_user_body: >
        <p style='margin: 0;'>Du er blevet oprettet som bruger på {{ site_name }} med e-mail adressen {{ user.email }}</p>
        <p style='margin: 0;'>For at komme igang skal du angiv en adgangskode.
        <p style='margin: 0;'>Du kan efterfølgende logge ind med din e-mail adresse ({{ user.email }}) og den valgte adgangskode.</p>
    user_created_user_button_text: 'Angiv adgangskode'
    user_created_user_footer: '<p style="margin: 0;">Venlig hilsen<br/> {{ sender.name }}</p>'
