@import '_partials/_colors';
@import '_partials/_buttons';
@import '_partials/_alerts';
@import '_partials/_tables';
@import '_partials/_forms';
@import '_partials/_header';
@import '_partials/_login';
@import '_partials/_sidebar';
@import '_partials/_date_time_range';
@import '_partials/_user_page';
@import '_partials/_modal';

/* Global */
body {
  font-size: 16px;
	padding-bottom: 40px;
	background-color: $color-grey-light;
	color: $color-font-primary;
}

#edit-setting-form {
    .setting-name {
        font-weight: bold;
    }

    .setting-description {
        border: solid 1px #aaa;
        padding: 1em;
    }
}
