#header-image {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

#header-image img {
	max-height: 24px;
	margin: 13px; /* (header height - header image max-height) / 2 [(50px - 24px) / 2] */
}

.no-menu aside.main-sidebar {
	display: none !important;
}

.no-menu header .sidebar-toggle {
	width: 0 !important;
	padding-right: 0 !important;
	overflow: hidden;
}

.no-menu .content-wrapper {
	margin-left: 0 !important;
}
