{% if view == 'show' %}
  {{ value|nl2br }}
{% else %}
  <span class="code-note" data-toggle="popover" data-placement="bottom" data-content="{{ value }}">{{ value|easyadmin_truncate }}</span>
{% endif %}
