<div class="code-created">
  {{ 'New code created'|trans }}:
  {{ include('admin/code/_clipboard_copy_code.html.twig') }}
  {{ include('admin/code/_generate_email.html.twig') }}
  {{ include('admin/code/_generate_sms.html.twig') }}
</div>
