// Base colors
$color-white: #fff;
$color-grey-light: #f5f5f5;
$color-grey: #4a4a4a;
$color-black: #000;

// Theme colors
$color-primary: #003764;
$color-font-primary: $color-grey;

// Status colors
$color-status-expired: #d0021b;
$color-status-future: #f5a623;
$color-status-active: #009c00;

// Button colors
$color-btn-primary: #579711;
$color-btn-primary-border: darken($color-btn-primary, 5%);
$color-btn-primary-hover: $color-btn-primary-border;
