/* Btns */
.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: #579711;
  border-color: #4a800e;
  border-radius: 3px;
  -webkit-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in; }
  .btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus:hover {
    background-color: #4a800e;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }

.clipboard-copy .btn, .clipboard-copy .btn:active, .code-email .btn, .code-email .btn:active, .code-sms .btn, .code-sms .btn:active {
  padding: 3px 8px;
  color: #4A4A4A;
  background-color: #F5F5F5;
  border-color: #e8e8e8;
  border-radius: 3px;
  -webkit-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in; }
  .clipboard-copy .btn:hover, .clipboard-copy .btn:active:hover, .code-email .btn:hover, .code-email .btn:active:hover, .code-sms .btn:hover, .code-sms .btn:active:hover {
    background-color: #e8e8e8;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }

/* Alerts */
#flash-messages {
  padding-top: 15px; }
  #flash-messages .alert {
    margin: 0 15px 15px 15px; }
    #flash-messages .alert .popover {
      color: #000; }
    #flash-messages .alert.alert-success {
      background-color: #4a800e !important;
      border-color: #4a800e; }

/* Color code status */
.list-code .code-status-expired {
  color: #D0021B; }

.list-code .code-status-future {
  color: #F5A623; }

.list-code .code-status-active {
  color: #009C00; }

body.new-code textarea {
  min-height: 50px; }

/* Display and center logo in top */
#header-image {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: absolute; }
  #header-image img {
    max-height: 24px;
    margin: 13px;
    /* (header height - header image max-height) / 2 [(50px - 24px) / 2] */ }
  @media (max-width: 767px) {
    #header-image {
      -webkit-transform: none;
              transform: none;
      position: static;
      display: inline-block;
      width: auto;
      float: right; }
      .is-admin #header-image img {
        max-height: 14px;
        margin: 10px; } }

@media (max-width: 767px) {
  #header-logo {
    display: inline-block;
    width: auto;
    padding-left: 10px;
    float: left; }
    .is-admin #header-logo .logo {
      font-size: 15px;
      height: 34px;
      line-height: 34px; }
  .main-header .navbar .sidebar-toggle {
    top: 34px; }
  .main-header .navbar-custom-menu {
    padding-right: 0; } }

/* Login page */
.form-signin {
  max-width: 420px;
  padding: 5px 25px 25px 25px;
  margin: 20px auto;
  background: #FFF;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0; }
  .form-signin .checkbox {
    margin-bottom: 20px; }
  .form-signin .panel-heading {
    font-weight: 400;
    font-size: 1.6em; }
  .form-signin .control-label {
    font-weight: 200;
    font-size: 1em; }
  .form-signin .checkbox {
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    background-color: #F5F5F5;
    border-color: #EAEAEA;
    margin-bottom: 10px;
    border-radius: 3px; }
  .form-signin input[disabled].form-control {
    color: #969696; }

@media (max-width: 767px) {
  #fos-user #flash-messages, #fos-user .form-signin {
    padding-top: 0;
    margin-top: 0; }
  #fos-user #header-image img {
    max-height: 19px; } }

/* hide sidebar on login */
.sidebar-collapse .no-menu aside.main-sidebar,
.no-menu aside.main-sidebar {
  display: none !important; }

.sidebar-collapse .no-menu header .sidebar-toggle,
.no-menu header .sidebar-toggle {
  width: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;
  display: none; }

.sidebar-collapse .no-menu .content-wrapper,
.no-menu .content-wrapper {
  margin-left: 0 !important; }

.date-time-range-time {
  display: inline-block; }

/* User page */
.user-page .panel {
  max-width: 600px;
  padding: 5px 25px 25px 25px;
  margin: 20px auto;
  background: #FFF;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0; }

/* Modals */
.modal {
  background: rgba(255, 255, 255, 0.4);
  z-index: 10000; }
  @media screen and (min-width: 991px) {
    .modal .modal-dialog {
      margin: 40px auto; } }
  @media screen and (max-width: 990px) {
    .modal .modal-dialog {
      margin: 40px 20px; } }
  .modal .modal-dialog .modal-content {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 2px; }
    .modal .modal-dialog .modal-content .modal-body {
      padding: 25px; }
      .modal .modal-dialog .modal-content .modal-body p {
        text-align: center; }
  .wrapper.blur {
    -webkit-filter: blur(5px);
            filter: blur(5px); }
  .modal .spinner {
    margin: 30px auto 30px;
    width: 70px;
    text-align: center; }
    .modal .spinner > div {
      width: 18px;
      height: 18px;
      background-color: #003764;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
              animation: bouncedelay 1.4s infinite ease-in-out both; }
    .modal .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s; }
    .modal .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* Global */
body {
  font-size: 16px;
  padding-bottom: 40px;
  background-color: #F5F5F5;
  color: #4A4A4A; }

#edit-setting-form .setting-name {
  font-weight: bold; }

#edit-setting-form .setting-description {
  border: solid 1px #aaa;
  padding: 1em; }
